
@font-face {
  font-family: 'Namu';
  src: asset-url('./fonts/namu.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'GT Pressura';
  src: asset-url('gt-pressura.otf') format('opentype');
  font-weight: normal;
}
